/* сброс стилей браузера */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, article, footer, header, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    line-height: 1.2;
}
/* конец кода сброса стилей браузера */

/* Подключение шрифтов */
@font-face {
    font-family: OpenSans-Regular;
    src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
    font-family: OpenSans-Bold;
    src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
}

/* HEADER */
.header {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #0a0e34;
    padding: 2rem 1.25rem 5.25rem;
    background-image: url("../images/football_767.jpg");
    background-repeat: no-repeat;
    background-position: -78px -28px;
    background-size: 145%;
    align-items: center;
}

.header::after {
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    background-color: #0a0e34;
    opacity: 0.9;
}

.surface_logo_text {
    fill: #fff;
    width: 47.5%;
    z-index: 2;
}

h1 {
    font-family: OpenSans-Bold;
    font-size: 1.75em;
    text-transform: uppercase;
    color: #fff;
    margin-top: 8.5rem;
    margin-bottom: 5.5rem;
    line-height: 1.75rem;
    z-index: 2;
}

h1 span {
    display: block;
}

h1 span:last-child {
    margin-top: 1.75rem;
    padding-left: 2.75rem;
}

.app_buttons {
    z-index: 2;
    width: 100%;
}

.button {
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;
    background-color: #5e42b0;
    width: 100%;
    height: 2.2rem;
    border-radius: 1rem;
    font-family: OpenSans-Regular;
    font-size: 0.5rem;
    text-transform: uppercase;
    color: #fff;
    padding-left: 30%;   
    z-index: 2;  
}

.btn_caption {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

.market_name {
    font-family: OpenSans-Bold;
}

.market_logo {
    width: 1.5rem;
    fill: #fff;
}

.app_store_btn {
    margin-bottom: 1rem;
}

/* MAIN CONTENT */
.main_content {
    position: relative;
}

h2 {
    font-family: OpenSans-Bold;
    font-size: 3rem;
    text-transform: uppercase;
    color: #e7e7e7;
    padding: 0 1.25rem;
    padding-top: 1.5rem;
    padding-bottom: 14.25rem;
    z-index: 99;
}

h3 {
    font-family: OpenSans-Bold;
    font-size: 1.5rem;
    color: #c1c1c1;
    margin-bottom: 2rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.numerator {
    font-family: OpenSans-Bold;
    font-size: 0.875rem;
    color: #000;
    display: inline-block;
    margin-right: 0.5rem;
}

.numerator::after {
    content: "";
    width: 100%;
    display: block;
    border-bottom: 0.25rem solid #5e42b0;
    border-radius: 0.25rem;
}

p {
    font-family: OpenSans-Regular;
    font-size: 1rem;
}

.connection, .collaboration, .growth {
    padding: 0 1.25rem;
    padding-top: 3.75rem;
    padding-bottom: 3.5rem;
}

.article_logo {
    position: absolute;
    padding-top: 5rem;
    left: 50%;
    transform: translate(-50%);
}

.players .article_logo {
    padding-left: 0;
}

.growth .numerator::after {
    border-color: #fff;
}

.growth_players .numerator {
    color: #8765dd;
}

.connection {
    background-color: #fafafa;
    padding-top: 5.25rem;
    z-index: 0;
}

.collaboration {
    background-color: #f5f4f9;
}

.growth_athlets {
    background-color: #5e42b0;
    color: #fff;
}

.growth_players {
    background-color: #090c35;
    color: #fff;
}

.full_logo {
    max-width: 100%;
    margin-bottom: 2rem;
}
.article_content_big_block {
    position: relative;
    padding: 0 1.25rem;
    margin-bottom: 5rem;
}

.article_content_big_block h3 {
    margin-bottom: 1.5rem;
}

div.square_numerator {
    position: absolute;
    top: -6rem;
    display: flex;
    width: 4.5rem;
    height: 4.5rem;
    background-color: #5e42b0;
}

.square_numerator .numerator {
    margin: auto;
    color: #fff;
}

.square_numerator .numerator::after {
    border-color: #8f7bc8;
}

/* FOOTER */

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0a0e34;
    padding: 0 1.25rem 0.75rem;
    background-image: url("../images/game_767.jpg");
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer::after {
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    background-color: #0a0e34;
    opacity: 0.9;
}

.logo_n_caption {
    display: flex;
    flex-direction: column;
    z-index: 2;
    align-items: center;
}


.footer h2 {
    font-size: 2rem;
    padding: 0;
    z-index: 2;
}

.footer h3 {
    font-family: OpenSans-Regular;
    font-size: 0.875rem;
    padding: 0;
    margin-bottom: 4.75rem;
    color: #9b8ec1;
    z-index: 2;
}

.surface_logo_wrapper {
    width: 4.5rem;
    height: 4.5rem;
    background: linear-gradient(to top, #50329c, #7751db);
    border-radius: 1rem;
    display: flex;
    margin-top: 6.5rem;
    margin-bottom: 3.75rem;
    z-index: 2;
}

.footer .google_play_btn {
    margin-bottom: 5rem;
}

.surface_logo {
    fill: #fff;
    width: 3.75rem;
    margin: auto;
}

/* МЕДИА-ЗАПРОСЫ */

@media (min-width: 641px) and (max-width: 960px) {

    .surface_logo_text {
        /* width: 12.17%; */
        max-width: 10rem;
    }

    .header {
        padding: 2rem 2rem 5.25rem;
        background-image: url("../images/football_1280.jpg");
        background-repeat: no-repeat;
        background-position: center top;
        /* background-size: 160%; */
        align-items: center;
    }   
   
    h1 {
        font-size: 4rem;
        line-height: 4.5rem;
    }

    h1 span:last-child {
        margin-top: 2rem;
        padding-left: 6.75rem;
    }

    .app_buttons {
        display: flex;
        justify-content: space-evenly;
    }

    .market_logo {
        width: 2.75rem;
    }

    .button {
        display: flex;
        justify-content: left;
        align-items: center;
        text-decoration: none;
        background-color: #5e42b0;
        width: 45%;
        height: 4.75rem;
        border-radius: 4.75rem;
        font-family: OpenSans-Regular;
        font-size: 0.75rem;
        text-transform: uppercase;
        color: #fff;
        padding-left: 3.5rem;   
        z-index: 2;  
    }

    h2 {
        font-size: 5rem;
        padding: 0 2rem;
        margin-top: 5.25rem;
        margin-bottom: 1.25rem;
        padding-left: 40%;
    }
    
    h3 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    
    .numerator {
        font-size: 1.25rem;
        margin-right: 0.75rem;
    }
    
    .numerator::after {
        content: "";
        width: 100%;
        display: block;
        border-bottom: 0.313rem solid #5e42b0;
        border-radius: 0.313rem;
    }
    
    p {
        font-family: OpenSans-Regular;
        font-size: 1rem;
    }

    .article_logo {
        position: absolute;
        padding-top: 1rem;
        left: 0;
        transform: translate(-35%);
    }

    .connection {
        background-color: #fff;
    }

    .connection, .collaboration, .growth {
        padding: 2.5rem 2rem;
        padding-left: 40%;
    }

    .players .connection, .players .collaboration, .players .growth {
        padding: 2.5rem 2rem;
        padding-right: 40%;
    }

    .players h2 {
        padding-right: 40%;
        padding-left: 2rem;
    }

    .players .article_logo {
        position: absolute;
        margin-top: -1.5rem;
        right: 0;
        left: auto;
        transform: translate(0);
    }

    .article_content_big_block {
        padding: 0 2rem;
    }

    .article_content_big_block h3 {
        font-size: 5rem;
        color: #e7e7e7;
        margin-top: 3.25rem;
    }

    div.square_numerator {
        top: -10rem;
        width: 7.25rem;
        height: 7.25rem;
    }

    .article_content_big_block p {
        font-size: 1.5rem;
    }
    
    
    .footer {
        padding: 0 2rem 1.5rem;
        background-image: url("../images/game_1920.jpg");
        background-position: right bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .footer h2 {
        font-size: 5rem;
        padding: 0;
        z-index: 2;
    }
    
    .footer h3 {
        font-family: OpenSans-Regular;
        font-size: 2rem;
        padding: 0;
        margin-bottom: 17.75rem;
        color: #9b8ec1;
        z-index: 2;
    }

    .surface_logo_wrapper {
        width: 8.5rem;
        height: 8.5rem;
        border-radius: 2rem;
        display: flex;
        margin-top: 6.5rem;
        margin-bottom: 3.75rem;
        z-index: 2;
    }
    
    .footer .google_play_btn {
        margin-bottom: 5rem;
    }
    
    .surface_logo {
        fill: #fff;
        width: 5.25rem;
        margin: auto;
    }
}

@media (min-width: 960px) {

    .surface_logo_text {
        width: 12.17%;
        min-width: 10rem;
    }

    .header {
        padding: 2.75rem 11.25rem 6.25rem;
        background-image: url("../images/football_1920.jpg");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        align-items: center;
    }   
   
    h1 {
        font-size: 5.75rem;
        line-height: 5.75rem;
        padding: 0 1rem;
        width: 100%;
        margin-top: 18rem;
        margin-bottom: 14rem;
    }

    h1 span:last-child {
        padding-left: 27%;
    }

    .app_buttons {
        display: flex;
        justify-content: center;
    }

    .market_logo {
        width: 20%;
        max-width: 4.5rem;
        min-width: 2rem;
    }

    .app_store_btn {
        margin-right: 3.25rem;
        margin-bottom: 0;
    }

    .button {
        display: flex;
        justify-content: left;
        align-items: center;
        text-decoration: none;
        background-color: #5e42b0;
        width: 20%;
        min-width: 15rem;
        height: 4.75rem;
        border-radius: 4.75rem;
        font-family: OpenSans-Regular;
        font-size: 1rem;
        padding-left: 3.25rem;   
    }

    h2 {
        font-size: 5rem;
        padding: 0 2rem;
        margin-top: 7.25rem;
        margin-bottom: 3rem;
        padding-left: 55%;
        line-height: 3.75rem;
    }
    
    h3 {
        font-size: 2.25rem;
        margin-bottom: 2rem;
        line-height: 2rem;
    }
    
    .numerator {
        font-size: 1.5rem;
        margin-right: 0.75rem;
    }
    
    .numerator::after {
        content: "";
        width: 100%;
        display: block;
        border-bottom: 0.313rem solid #5e42b0;
        border-radius: 0.313rem;
    }
    
    p {
        font-family: OpenSans-Regular;
        font-size: 1.25rem;
    }

    .article_logo {
        position: absolute;
        padding-top: 0;
        left: 20%;
        transform: translate(0);
        margin: -2rem;
    }

    .connection {
        background-color: #fff;
    }

    .connection, .collaboration, .growth {
        padding: 3.75rem 11.25rem;
        padding-left: 55%;
    }

    .players .connection, .players .collaboration, .players .growth {
        padding: 3.75rem 11.25rem;
        padding-right: 55%;
    }

    .players h2 {
        padding-right: 55%;
        padding-left: 11.25rem;
    }

    .players .article_logo {
        position: absolute;
        margin: 0 7.5rem 0 0;
        margin-top: -5rem;
        right: 0;
        left: auto;
        transform: translate(0);
    }

    .article_big_block {
        display: flex;
    }

    .article_big_block:nth-child(even) {
        flex-direction: row-reverse;
    }

    .article_big_block picture {
        width: 50%;
    }

    .full_logo {
        margin: 0;
        height: 100%;
        width: 100%;
    }

    .article_content_big_block {
        padding: 0; 
        padding-right: 11.25rem;
        padding-left: 8rem;
        width: 50%;
        margin: auto;
    }

    .article_big_block:nth-child(even) .article_content_big_block {
        padding-left: 11.25rem;
        padding-right: 8rem;
    }

    .article_content_big_block h3 {
        font-size: 5rem;
        color: #e7e7e7;
        margin-bottom: 7.25rem;
    }

    div.square_numerator {
        top: calc(50% - 9.75rem);
        left: calc(-9.75rem * 0.5);
        width: 9.75rem;
        height: 9.75rem;
    }

    .article_big_block:nth-child(even) .square_numerator {
        left: auto;
        right: calc(-9.75rem * 0.5);
    }

    .article_content_big_block p {
        font-size: 1.5rem;
    }
    
    
    .footer {
        padding: 0 2rem 1.5rem;
        background-image: url("../images/game_1920.jpg");
        background-position: right bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .footer h2 {
        font-size: 5rem;
        padding: 0;
        line-height: 3.75rem;
        z-index: 2;
        margin: 0;
    }
    
    .footer h3 {
        font-family: OpenSans-Regular;
        font-size: 2rem;
        line-height: 2rem;
        padding: 0;
        margin: 1.5rem 0 0;
        color: #9b8ec1;
        z-index: 2;
    }

    .logo_n_caption {
        display: flex;
        flex-direction: row;
        z-index: 2;
        align-items: center;
        margin: 14.25rem 0 9.5rem;

    }

    .surface_logo_wrapper {
        width: 8.5rem;
        height: 8.5rem;
        border-radius: 2rem;
        display: flex;
        margin: 0;
        z-index: 2;
    }

    .caption_footer {
        margin-left: 2rem;
    }
    
    .footer .google_play_btn {
        margin-bottom: 16rem;
    }
    
    .surface_logo {
        fill: #fff;
        width: 5.25rem;
        margin: auto;
    }
}